<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="70fda8">  <td>18/12/26 00:30:31</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Mail.MailSend()[pri:0, instance:com.org.faveo.utility.Mail@527740a2]">MailSend</td> 
  <td>main@990398217</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>18/12/26 00:30:31</td>   <td>-132</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.Report()[pri:0, instance:com.org.faveo.utility.Mail@527740a2]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@990398217</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>18/12/26 00:30:36</td>   <td>4388</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.org.faveo.utility.Mail@527740a2]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@990398217</td>   <td></td> </tr>
<tr bgcolor="ebc39e">  <td>18/12/26 00:30:36</td>   <td>4408</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.org.faveo.utility.Mail@527740a2]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@990398217</td>   <td></td> </tr>
</table>
