<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite (0)</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a9e876">  <td>19/01/04 18:15:41</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.Report()[pri:0, instance:com.org.faveo.Bvt.BvtMainClass@880ec60]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1020923989</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>19/01/04 18:15:41</td>   <td>180</td> <td>&nbsp;</td><td title="&gt;&gt;BvtMainClass.BeforeTest()[pri:0, instance:com.org.faveo.Bvt.BvtMainClass@880ec60]">&gt;&gt;BeforeTest</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1020923989</td>   <td></td> </tr>
<tr bgcolor="6a99b2">  <td>19/01/04 18:15:41</td>   <td>187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="BvtMainClass.Execute()[pri:0, instance:com.org.faveo.Bvt.BvtMainClass@880ec60]">Execute</td> 
  <td>main@1020923989</td>   <td></td> </tr>
<tr bgcolor="a9e876">  <td>19/01/04 18:15:43</td>   <td>1940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.org.faveo.Bvt.BvtMainClass@880ec60]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1020923989</td>   <td></td> </tr>
</table>
