<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9b92d7">  <td>19/01/02 18:35:13</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.Report()[pri:0, instance:com.org.faveo.proposal.Proposal@396f6598]">&gt;&gt;Report</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1863932867</td>   <td></td> </tr>
<tr bgcolor="70fda8">  <td>19/01/02 18:35:13</td>   <td>100</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Proposal.ExploreTravel()[pri:0, instance:com.org.faveo.proposal.Proposal@396f6598]">ExploreTravel</td> 
  <td>main@1863932867</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/01/02 18:35:45</td>   <td>32342</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.getResult(org.testng.ITestResult)[pri:0, instance:com.org.faveo.proposal.Proposal@396f6598]">&lt;&lt;getResult</td> 
<td>&nbsp;</td>  <td>main@1863932867</td>   <td></td> </tr>
<tr bgcolor="9b92d7">  <td>19/01/02 18:35:45</td>   <td>32895</td> <td title="&lt;&lt;BaseClass.tearDown()[pri:0, instance:com.org.faveo.proposal.Proposal@396f6598]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1863932867</td>   <td></td> </tr>
</table>
